@model KoodinenV1.Models.Kurssi
@{
    ViewData["Title"] = "KurssistaAloitetut";

}

<div class="card" style="padding: 20px; margin: 20px">
    <h4>@Html.ActionLink(Model.Nimi, "Oppitunti3", "Admin")</h4>
    <hr />
    <h6>@Model.Kuvaus</h6>
</div>

