@model KoodinenV1.Models.KurssistaAloitettuViewModel
@{
    ViewData["Title"] = "KurssistaAloitetut";

}

<h2 style="color: rgb(4, 115, 100)">Kurssin @Model.Kurssi.Nimi sisältö:</h2>
<hr />
@for (var i = 0; i < Model.Oppitunnit.Count; i++)
{
    {
        var oppitunti = Model.Oppitunnit[i];
        <h4>@Html.ActionLink(oppitunti.Nimi, $"Oppitunti{i+1}", Model.Kurssi.Nimi)</h4>
        @foreach (var tehtava in Model.Tehtävät)
        {
            @if (tehtava.OppituntiId == oppitunti.OppituntiId)
            {
                <p>
                    <b>  @tehtava.Kuvaus</b> @if (Model.Suoritetut.Contains(tehtava.TehtavaId))
                    {<partial><strong style="color:mediumseagreen;font-size:20px">&#10003;</strong></partial>}
                </p>
            }
        }
    }
}

