@model KoodinenV1.Models.Kayttaja

@{
    ViewData["Title"] = "Muokkaa";
}

<h1>Muokkaa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Muokkaa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KayttajaId" />
            <div class="form-group">
                <label asp-for="Nimi" class="control-label">Nimi: </label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Sähköposti</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div display="none" class="form-group">
                <label asp-for="Salasana" class="control-label">Nykyinen salasana: </label>
                <input asp-for="Salasana" class="form-control" type="password" />
                <span asp-validation-for="Salasana" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                
            </div>   
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Takaisin profiiliin", "Profiili")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
