
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Esittely";
}

<h1>C#-ALKEET</h1>
<hr />
<h2>Tervetuloa kurssille!</h2>

<p>
    Tällä kurssilla paneudumme C# kielen perusteisiin.
    Mikäli haluat kurssista rekisteröidyn suorituksen, aloita kurssi alla olevasta nappulasta.
    Kurssille rekisteröityminen vaatii sivustolle kirjautumisen.
</p>
<button class="btn btn-outline-primary" style="margin-left:20px">@Html.ActionLink("Aloita kurssi", "AloitaKurssi")</button>
@if (ViewBag.Viesti != null && ViewBag.id != null)
{
    <a style="color:red">@ViewBag.Viesti</a>
}
@if (ViewBag.Viesti != null && ViewBag.id == null)
{
    <a style="color:red">@ViewBag.Viesti</a><a>@Html.ActionLink("Kirjaudu tästä!", "Kirjautuminen", "Etusivu")</a>
}
