
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Esittely";
}

<h1>C#-ALKEET</h1>
<hr />
<h2>Tervetuloa kurssille!</h2>

<p>
    Tällä kurssilla paneudumme C# kielen perusteisiin. 
</p>
