
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "LunttiLappu";
}

<h1>LunttiLappu</h1>

<div>Täältä näet koodaus termistöä ja merkkien merkityksiä, kun tarvitset nopeasti vastauksia
    <br />
    Under Construction!</div>