
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Oppitunti4";
}

<h1>Oppitunti 4</h1>
<hr />
<p>
    Tällä oppitunnilla pääset tekemään propertyjä, kosntruktoreita ja opettelemaaan looppien käyttöä <br />
</p>

<p>
    Nämä tehtävät vaativat <a href="https://visualstudio.microsoft.com/">Visual Studion</a> lataamisen ja
    käyttöön ottamisen. Huomioitavaa tehtävien tekemisestä: tehtävän tekeminen vaatii koodin kääntämisen eli "Build" operaation. Koska tehtävätiedosto
    sisältää myös tehtävien tarkistuksen, käännä aina koko solution.
</p>

<p>
    Lataa oppitunnin tehtävät <a href="https://funcstorkoodinen.blob.core.windows.net/oppitunti-container/Oppitunti4.zip">tästä</a>.
</p>
<p>
    Pura Oppitunti4.zip-tiedosto ja avaa Oppitunti4 -hakemisto. Avaa Oppitunti4.sln Visual Studiolla ja sieltä klikkaa auki Program.cs.
</p>

<div class="card" style="padding: 20px; margin: 20px">
    <p> 
        Tehtävä 1. 
        Tee "Loopit"-niminen luokka, siihen "Laskuri"-niminen property
        Tee luokalle konstruktori ja sitten metodi nimeltä "Laskenta".
        Lue tarkempi tehtävän anto program.cs:stä.
        Tehtävä tuottaa laskevan numerosarjan.
    </p>
</div>
<div>
    <h2>Ehtorakenne</h2>
    <p>
        Usein on tarpeen määritellä ohjelmaan osia, jotka suoritetaan vain tietyissä tilanteissa.
        Esimerkiksi seuraava koodi tarkastaa, onko henkilö täysi-ikäinen:<br /><br />

        <span style="font-family:Courier New, Courier, monospace">
            int ikä = Convert.ToInt32(Console.ReadLine("Kuinka vanha olet? "));<br /><br />

            if (ikä > 17)<br />
            {<br />
            Console.WriteLine("Olet täysi-ikäinen!");<br />
            Console.WriteLine("Tässä siis sinulle ikiomaksi Doom Eternal.");<br />
            };<br /><br />

            Console.WriteLine("Seuraava asiakas, kiitos!");<br />
        </span><br /><br />

        Ohjelman suoritus näyttää tältä, kun ikä on suurempi kuin 17:<br /><br />

        <i>
            Kuinka vanha olet? <span style="color:red">18</span><br />
            Olet täysi-ikäinen!<br />
            Tässä siis sinulle ikiomaksi GTA6.<br />
            Seuraava asiakas, kiitos!
        </i><br /><br />

        Jos kuitenkaan ikä ei ole suurempi kuin 17, käy näin:<br /><br />

        <i>
            Kuinka vanha olet? <span style="color:red">16</span><br />
            Seuraava asiakas, kiitos!
        </i><br /><br />

        Esimerkkejä tarkastelemalla huomataan, että syötteenä annettu arvo vaikuttaa nyt siihen, mitkä osat ohjelmasta suoritetaan. Ohjelmassa on käytössä <i>ehtorakenne</i>, jonka sisällä oleva koodi suoritetaan vain, kun annettu ehto on tosi.<br />

        Ehtorakenteessa avainsanaa <span style="font-family:Courier New, Courier, monospace">if</span> seuraa jokin <i>ehto</i>, kuten kahden arvon vertailu. Tämän jälkeen tuleva koodi suoritetaan vain, jos ehto pitää paikkansa
    </p>
    <br />
    <br />
    <h2>Vertailuoperaattorit</h2>

</div>
<div class="card" style="padding: 20px; margin: 20px">
    <p>
        Tehtävä 4.
        ITSEISARVO
        Tee Ehtolause-niminen luokka. Tee luokkaan metodi, joka ottaa parametrinä kokonaisluvun. Mikäli luku on pienempi kuin 0, ohjelma tulostaa luvun kerrottuna luvulla -1. Muulloin ohjelma tulostaa käyttäjän syöttämän luvun.
    </p>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    <p>
        Under construction...
    </p>
</div>

<button class="btn btn-outline-primary" style="margin-left:20px">@Html.ActionLink("Rekisteröi oppitunti", "RekisteröiOppitunti", null, new { opId = 12, sivuNro = 4 })</button>


<button class="btn btn-outline-primary" style="margin-left:20px">@Html.ActionLink("Rekisteröi kurssi", "RekisteröiKurssi", null, new { opId = 12, sivuNro = 4 })</button>

<p>
    @if (ViewBag.OpViesti != null)
    {
        <a style="color:red">@ViewBag.OpViesti</a>
    }
</p>
<p>
    @if (ViewBag.Viesti != null)
    {
        <a style="color:red">@ViewBag.Viesti</a>
    }
</p>
