
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Oppitunti2";
}

<h1>Oppitunti 2</h1>
<hr />
<p>
    Tämä oppitunti keskittyy metodeihin. Tehtävissä pääset kokeilemaan yksinkertaisia metodeja ja niiden kutsua. <br />
</p>
<p>
    Nämä tehtävät vaativat <a href="https://visualstudio.microsoft.com/">Visual Studion</a> lataamisen ja
    käyttöön ottamisen. Ladattuasi Visual Studion lataa siihen myös .NET desktop development workload.<br />
    <br />
    <img src="https://funcstorkoodinen.blob.core.windows.net/kuvat-container/dotNetDesktopDevelopment.png" alt=".NNET desktop development workload"/><br />
    <br />
    Huomioitavaa tehtävien tekemisestä: tehtävän tekeminen vaatii koodin kääntämisen eli "Build" operaation. Koska tehtävätiedosto
    sisältää myös tehtävien tarkistuksen, käännä aina koko solution.
</p>

<p>
    Lataa oppitunnin tehtävät <a href="https://funcstorkoodinen.blob.core.windows.net/oppitunti-container/Koodinen_Oppitunti2.zip">tästä</a>.
</p>
<p>
    Pura Koodinen_Oppitunti2.zip-tiedosto ja avaa Oppitunti2 -hakemisto. Avaa Oppitunti2.sln Visual Studiolla ja sieltä klikkaa auki Program.cs.
</p>

<div class="card" style="padding: 20px; margin: 20px">
    @if (ViewBag.SuoritettuTeht1 == null)
    {
        <h3>Tehtävä 1.</h3>
    }
    @if (ViewBag.SuoritettuTeht1 != null)
    {
        <h3 style="color: forestgreen">Tehtävä 1. <partial><strong style="color:mediumseagreen;font-size:20px">&#10003;</strong></partial></h3>
    }

    <p>
        Avaa "Tervehdys"-luokka ja lisää metodiin "Tervehdys1()" string muuttuja "Hei mualima!". Käytä return-lausetta palauttaaksesi kyseisen stringin.
        Ohjelma käynnistyy, kun poistat kommentit "Tehtävä1.Tarkista(email);" -riviltä ja painat "Debug" -> "Start Without Debugging".
    </p>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    @if (ViewBag.SuoritettuTeht2 == null)
    {
        <h3>Tehtävä 2.</h3>
    }
    @if (ViewBag.SuoritettuTeht2 != null)
    {
        <h3 style="color: forestgreen">Tehtävä 2. <partial><strong style="color:mediumseagreen;font-size:20px">&#10003;</strong></partial></h3>
    }

    <p>
        Avaa "Tervehdys" -luokka ja laita metodi "Tervehdys2()" palauttamaan parametrina annetun stringin.
    </p>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    @if (ViewBag.SuoritettuTeht3 == null)
    {
        <h3>Tehtävä 3.</h3>
    }
    @if (ViewBag.SuoritettuTeht3 != null)
    {
        <h3 style="color: forestgreen">Tehtävä 3. <partial><strong style="color:mediumseagreen;font-size:20px">&#10003;</strong></partial></h3>
    }
    
    <p>
        Tee public static string metodi Tervehdys3(), johon ei anneta parametreja ja joka palauttaa string muuttujan "Hei Ada Lovelace!".
    </p>
</div>
<div>
    <a style="color:rgb(4, 115, 100)"><b>Bonus!  </b></a><a href="https://fi.wikipedia.org/wiki/Ada_Lovelace" target="_blank">Lisätietoa Ada Lovelacesta</a>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    @if (ViewBag.SuoritettuTeht4 == null)
    {
        <h3>Tehtävä 4.</h3>
    }
    @if (ViewBag.SuoritettuTeht4 != null)
    {
        <h3 style="color: forestgreen">Tehtävä 4. <partial><strong style="color:mediumseagreen;font-size:20px">&#10003;</strong></partial></h3>
    }
    <p>
        Tee metodi Tervehdys4() ja anna sille parametriksi string muuttuja.
    </p>
</div>

<button class="btn btn-outline-primary" style="margin-left:20px">@Html.ActionLink("Rekisteröi oppitunti", "RekisteröiOppitunti", null, new { opId = 10, sivuNro = 2 })</button>
<p>
    @if (ViewBag.OpViesti != null)
    {
        <a style="color:red">@ViewBag.OpViesti</a>
    }
</p>

