
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Oppitunti2";
}

<h1>Oppitunti 2</h1>
<hr />
<p>
    Tämä oppitunti keskittyy metodeihin. Tehtävissä pääset kokeilemaan yksinkertaisia metodeja ja niiden kutsua. <br />
</p>
<p>
    Nämä tehtävät vaativat <a href="https://visualstudio.microsoft.com/">Visual Studion</a> lataamisen ja
    käyttöön ottamisen. Huomioitavaa tehtävien tekemisestä: tehtävän tekeminen vaatii koodin kääntämisen eli "Build" operaation. Koska tehtävätiedosto
    sisältää myös tehtävien tarkistuksen, käännä aina koko solution.
</p>

<p>
    Lataa kurssin tehtävät <a href="https://funcstorkoodinen.blob.core.windows.net/oppitunti-container/Koodinen_Oppitunti2.zip">tästä</a>
</p>
<p>
    Pura Koodinen_Oppitunti2.zip-tiedosto ja avaa Oppitunti2 -hakemisto. Avaa Oppitunti2.sln Visual Studiolla ja sieltä klikkaa auki Program.cs.
</p>

<div class="card" style="padding: 20px; margin: 20px">
    <p>
        Tehtävä 1. Avaa "Tervehdys"-luokka ja lisää metodiin "Tervehdys1()" string muuttuja "Hei mualima!". Käytä return-lausetta palauttaaksesi kyseisen stringin.
        Ohjelma käynnistyy, kun poistat kommentit "Tehtävä1.Tarkista(email);" -riviltä ja painat "Debug" -> "Start Without Debugging".
    </p>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    <p>
        Tehtävä 2. Avaa "Tervehdys" -luokka ja laita metodi "Tervehdys2()" palauttamaan parametrina annetun stringin.
    </p>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    <p>
        Tehtävä 3. Tee public static string metodi Tervehdys3(), johon ei anneta parametreja ja joka palauttaa string muuttujan "Hei Ada Lovelace!".
    </p>
</div>

<div class="card" style="padding: 20px; margin: 20px">
    <p>
        Tehtävä 4. Tee metodi Tervehdys4() ja anna sille parametriksi string muuttuja.
    </p>
</div>
