
@{
    Layout = "_CSharpAlkeetLayout";
    ViewData["Title"] = "Palaute";
}

<h1>Palautelaatikko</h1>
<p>
    Täältä voit lähettää terveisiä Koodisen väelle. Palautteen avulla voimme kehittää toimintaamme, mitä arvostamme suuresti!
</p>
<form method="post", action="Palaute">
    <div class="form-group" action="Oppitunti1Tehtävä1" padding: 20px">
        <input type="checkbox" name="vastaa" value="joo" /> Haluan että ylläpito on minuun yhteydessä
        <br />
        <br />
        <label for="Tekstialue">Kirjoita viestisi tähän: </label>
        <br />
        @Html.ValidationMessage("Error", new { @style = "color:red" })

        <textarea class="form-control" maxlength="2000" id="Teksti" name="Teksti" rows="3" style="margin-left:0px"></textarea>
    </div>
    <a style="float:right">max. 2000 merkkiä</a><br />
   
    <input type="submit" value="Lähetä" class="btn btn-outline-primary" style="margin-left:20px" />
</form>
<br />
@if(ViewBag.Viesti != null)
{ 
<h5 style="color:rgb(4, 115, 100)" >@ViewBag.Viesti</h5>
}

