@{
    ViewData["Title"] = "Etusivu";
}
<h1 class="display-2"> Tervetuloa Koodiseen!</h1>
<br />
<p class="display-4"> @Html.ActionLink("Kirjaudu sisään", "Kirjautuminen", "Etusivu")</p>
<p> @Html.ActionLink("Rekisteröidy", "Rekisteröityminen", "Rekisteröityminen")</p>