@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
</style>
<head>

</head>
<body>
    <h1>c#</h1><br /><br />
    <h3>Oppitunti 1: Konsolin käyttö</h3>
    <br />
    <div>
        <label>Oppitunnin tavoitteet</label>
        <input type="text" />
        <br /><br />
        <label>Konsolille kirjoittaminen (teoria)</label>
        <input type="text" />
        <br /><br />

        <label>Tehtävän kuvaus</label>
        <input type="text" />

    </div>





</body>