@model KoodinenV1.Models.Kayttaja

@{
    ViewData["Title"] = "Rekisteröityminen";
}

<h1>Rekisteröityminen</h1>
<br />
<p>Kirjoita tähän nimesi ja sähköpostiosoitteesi. <br />
    <br />
   Salasana lähetetään antamaasi osoitteeseen.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rekisteröityminen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Sähköpostiosoite</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rekisteröidy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Onko sinulla jo käyttäjätunnus? 
    @Html.ActionLink("Kirjaudu tästä", "Kirjautuminen", "Etusivu")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
