@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Kiitos rekisteröitymisestäsi!</h2>
<br />
<br />
<p>Antamaasi sähköpostiosoitteeseen on lähetetty viesti, josta löydät kertakäyttöisen salasanasi!</p>